* {
    font-family: 'Roboto', sans-serif;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* fr é equivalente a fraction, neste caso ele distribuiu as colunas em 50-50 */

ol.pokemons li {
    margin: .5rem;
    padding: 2rem 1rem;
    background-color: #14A06F;
    color: white;
    border-radius: 1rem;
    height: 100px;
}
/* rem (medida relativa) usada para se adaptar facilmente a qualquer resolução, independente do dispositivo utilizado */

