* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* pesquisar mais sobre o que significa * no css */

body {
    background-color: #f6f8fc;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: white;
}
/* pesquisar mais sobre vh no css */

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
/* centralização por auto: aplica a mesma quantidade de um lado e do outro, em relação ao espaço. Exemplo: height auto aplica x espaço no topo e x espaço no fundo. */

.content h1 {
    margin: 0;
}

